/* Insert styling here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


header,
.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
}

header p,
a {
    color: #e5e7eb;
    font-size: 18px;
}

body > * {
    padding: 0 180px;
}

/* header */

header {
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

ul {
    display: flex;
    list-style: none;
    gap: 32px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

/* hero */

.hero h1 {
    font-size: 40px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.hero {
    align-items: center;
    justify-content: center;
    height: 400px;
    gap: 48px;
}

.hero-image {
    background-color: rgba(211, 211, 211, 0.40);
    height: 220px;
    width: 480px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero p {
    padding: 0;
    margin: 0 0 16px;
    font-weight: 300;
}

.container {
    flex-basis: 400px;
}

button {
    padding: 8px 32px;
    border-radius: 8px;
    background: #3882f6;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* information section */

.information {
    text-align: center;
    padding: 16px 0 104px;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.image {
    border: rgb(96, 96, 245) 4px solid;
    height: 160px;
    width: 160px;
    border-radius: 16px;
}

.info {
    max-width: 160px;
    text-align: center;
}

.information-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
    padding-top: 24px;
}

/* Quote section */

.quote-container {
    background: #e5e7eb;
    display: flex;
    justify-content: center;

}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
    max-width: 800px;
    padding: 104px 0;
}

.quote p {
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    margin-top: 8px;
}

/* alert section */

.alert-container {
    padding: 120px 180px;
    display: flex;
    justify-content: center;
}

.alert {
    width: 1080px;
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 48px 0;
    border-radius: 8px;
}

.inverted {
    border: 2px white solid;
    padding: 0px 48px;
}

.text .header {
    font-size: 24px;
    font-weight: 700;
}

.text {
    font-weight: 300;
}