/* Insert styling here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 180px;
}

.logo {
    font-size: 32px;
    font-weight: 700;
}

ul {
    display: flex;
    list-style: none;
    gap: 32px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: whitesmoke;
}